<br/>
<h2 class="centerElement">Clientes</h2>
<br/>
<br/>
<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputStartDate">Fecha Inicial</label>
        <input type="date" class="form-control" id="inputStartDate">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="inputEndDate">Fecha Final</label>
          <input type="date" class="form-control" id="inputEndDate">
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col"></div>
      <div class="col centerElement">
          <button type="submit" class="buttonColor btn btn-primary mb-3">Clientes Reportados</button>
      </div>
      <div class="col centerElement">
        <button type="submit" class="buttonColor btn btn-primary mb-3 centerElement">Clientes no Reportados</button>
      </div>
      <div class="col"></div>
    </div>
  </form>
</div>
<br/>
  <table class="table">
    <thead>
      <tr>
        <th>NIU</th>
        <th>CODIGO CONEXIÓN</th>
        <th>TIPO CONEXIÓN</th>
        <th>CERGO INVERSIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>000345</td>
        <td>30</td>
      </tr>
      <tr>
        <td>2</td>
        <td>50004</td>
        <td>25</td>
      </tr>
      <tr>
        <td>1</td>
        <td>000345</td>
        <td>30</td>
      </tr>
      <tr>
        <td>2</td>
        <td>50004</td>
        <td>25</td>
      </tr>
      <tr>
        <td>1</td>
        <td>000345</td>
        <td>30</td>
      </tr>
      <tr>
        <td>2</td>
        <td>50004</td>
        <td>25</td>
      </tr>
      <!-- Agrega más filas según tus datos -->
    </tbody>
  </table>
  <br/>
  <div class="text-center">
    <button type="submit" class="buttonColor btn btn-primary mb-3 ">Subir archivo</button>
  </div>
  <br/>



